version: '3.8'

services:
  laravel:
    build:
      context: .
      dockerfile: Dockerfile.laravel
    container_name: aws-transcription-laravel
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./app/laravel:/var/www
    networks:
      - app-network
    environment:
      - APP_ENV=local
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/var/www/database/database.sqlite
      - PYTHON_SERVICE_URL=http://transcription-service:5000
      - QUEUE_CONNECTION=database

  transcription-service:
    build:
      context: .
      dockerfile: Dockerfile.service
    container_name: aws-transcription-service
    restart: unless-stopped
    volumes:
      - ./app/services/transcriptions:/app
    depends_on:
      - laravel
    networks:
      - app-network
    environment:
      - LARAVEL_API_URL=http://laravel/api
    ports:
      - "5050:5000"

networks:
  app-network:
    driver: bridge
